.card_container {
    background-color:azure;
    height: 25rem;
    width: 25rem;
    margin:2rem;
    box-shadow: 12px 12px 12px 2px rgb(27, 27, 27);
    border-radius: 25px;
  }

  .card_title_text {
    color: black;
    border-bottom: 1px solid black;
    margin:1rem;
  }

  .card_content_text {
      color:black;
      margin:1rem;
  }
  
  